.activity-event-right-sidebar {
  min-width: 240px;
  height: 660px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  background-color: var(--primary-color);
  padding: 24px 16px;
  /* gap: 32px; */
  border-radius: 30px;
  position: sticky;
  top: 120px;
}

/* .activity-event-right-sidebar-event-box {
} */

.activity-event-card-detail {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activity-event-card-detail img:hover {
  cursor: pointer;
  scale: 1.05;
  transition: 0.3s ease-in-out;
}

.activity-event-card-detail img {
  width: 100%;
  border-radius: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
  transition: 0.3s ease-in-out;
}

.activity-event-card-location p {
  margin-top: 4px;
  text-align: right;
  font-size: 24px;
  margin-bottom: 8px;
}

.activity-event-card-location p:nth-child(2),
.activity-event-card-location p:nth-child(3) {
  font-size: 12px;
}
