.activity-list-container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 60px;
  gap: 24px;
}

.activity-list-blur-bg {
  border: 1px solid saddlebrown;
  height: 100vh;
  width: 100vh;
  position: absolute;
}
