.edit-profile-main {
  width: auto;
  height: 1024px;
  background-color: #101115;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.edit-profile {
  width: 860px;
  height: 860px;
  background-color: #1a1a1b;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* justify-items: center; */
  /* align-content: center; */
  align-items: center;
  border-radius: 32px;
}

.edit-profile h3 {
  text-align: center;
  margin: 40px 0px 30px;
}
.edit-profile-upload-file label {
  padding: 5px;
  background: var(--secondary-color);
  display: table;
  color: #fff;
  border-radius: 10px;
}
input[type="file"] {
  display: none;
}

.edit-profile-form-group {
  display: flex;
  flex-direction: column;
}

.edit-profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
  /* align-items: center; */
}

.edit-profile .edit-profile-name {
  display: flex;
  align-items: center;
}

.edit-profile input {
  margin: 20px 0px;
  border-radius: 3px;
  height: 40px;
  border-radius: 10px;
}

.edit-profile-form-group .edit-profile-name input:nth-child(2) {
  margin-left: 50px;
  width: 235px;
}

.edit-profile-form-group .edit-profile-name input:nth-child(3) {
  margin-left: 30px;
  width: 235px;
}

.edit-profile select {
  height: 40px;
  border-radius: 10px;
}

.edit-profile-birth-gen-box input:nth-child(2) {
  margin-left: 20px;
  width: 150px;
}

.edit-profile-birth-gen-box label:nth-child(3) {
  margin-left: 30px;
}

.edit-profile-birth-gen-box select {
  margin-left: 20px;
}

.edit-profile-weight-height-box input:nth-child(2) {
  margin-left: 38px;
}
.edit-profile-weight-height-box input:nth-child(4) {
  margin-left: 20px;
}

.edit-profile-weight-height-box label:nth-child(3) {
  margin-left: 20px;
}

.edit-profile-location-box input {
  margin-left: 27px;
  width: 490px;
}

.edit-profile-bio-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.edit-profile-bio-box textarea {
  border-radius: 10px;
  width: 490px;
  margin-left: 20px;
}

.edit-profile-btn-box button {
  margin-top: 20px;
  font-size: 24px;
  padding: 8px;
}

/* ----- button class ----- */
.orange-btn {
  background-color: var(--accent-color);
  border: 0;
  border-radius: 30px;
  color: var(--white-text);
}

.other-btn {
  background-color: var(--grey-btn-color);
  border-radius: 10px;
  border: 0;
  color: var(--white-text);
}
