@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap");

/* ----- button class ----- */
.orange-btn {
  background-color: var(--accent-color);
  border: 0;
  border-radius: 30px;
  color: var(--white-text);
}

.other-btn {
  background-color: var(--grey-btn-color);
  border-radius: 10px;
  border: 0;
  color: var(--white-text);
}

/* ----- text color ----- */
.white-text {
  color: var(--white-text);
}

.orange-text {
  color: var(--accent-color);
}

/* hero */

.hero-container-fluid {
  background-color: var(--primary-color);
}

.hero-container {
  width: 100%;
  height: 720px;
  max-height: 720px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* border: 1px solid white; */
}
.hero-left {
  width: 570px;
  /* position: relative; */
}

.hero-right {
  width: 570px;
  display: flex;
  align-items: center;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  z-index: 2;
}

.orange-trans-btn {
  cursor: pointer;
  padding: 1em 2em;
  border: none;
  border-radius: 30px;
  width: 250px;
  height: 60px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  color:  var(--accent-color);
  background-color: #101115;
  transition: all 1000ms;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  outline: 2px solid var(--accent-color);
}

.orange-trans-btn:hover {
  color: var(--white-text);
  transform: scale(1.1);
  outline: 2px solid var(--white-text);
  box-shadow: 4px 5px 17px -4px #C76300;
}

.orange-trans-btn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent-color);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.orange-trans-btn:hover::before {
  width: 250%;
}

.img {
  position: relative;
  transform: translateX(-101px) translateY(20px);
  z-index: 3;
}

.bg-img {
  position: absolute;
}

/* .container-bottom {
    height: 720px;
    background-color: var(--bg-color);
    z-index: 0;
    position: relative;
  } */

/* info */

.info-container-fluid {
  background-color: var(--bg-color);
  z-index: 0;
  position: relative;
  
}

.info-container {
  display: flex;
  flex-direction: row;
  /* justify-content: baseline; */
  justify-content: space-between;
  align-items: center;
  height: 1095px;
  max-width: 1140px;
  margin: 0 auto;
  background-color: var(--bg-color);
  padding: 0 64px;
}

.info-left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-left h2 {
  font-size: 24px;
}
.info-left p {
  font-size: 20px;
  width: 350px;
}

.get-start-btn {
  cursor: pointer;
  padding: 1em 2em;
  border: none;
  border-radius: 30px;
  width: 235px;
  height: 50px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  color:  var(--accent-color);
  background-color: #101115;
  transition: all 1000ms;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  outline: 2px solid var(--accent-color);
}

.get-start-btn:hover {
  color: var(--white-text);
  transform: scale(1.1);
  outline: 2px solid var(--white-text);
  box-shadow: 4px 5px 17px -4px #C76300;
}

.get-start-btn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent-color);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.get-start-btn:hover::before {
  width: 250%;
}

.info-left h2 {
  line-height: 32px;
  letter-spacing: 2px;
}

.info-left p {
  margin: 16px 0px;
  line-height: 24px;
  letter-spacing: 1px;
}

.info-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 100%;
}

.info-right img {
  width: 650px;
  height: 600px;
  border-radius: 30px;
  align-self: center;
}

/* marquee container */
.marquee-container {
  background-color: var(--bg-color);
  height: 100px;
}

.marquee-container p {
  font-size: 24px;
}

/*ad-workout*/
.ad-workout {
  position: relative;
  display: flex;
  justify-content: center;
}

.ad-workout-info {
  position: absolute;
  /* z-index: 1; */
}

.ad-workout-info h1 {
  position:absolute;
  font-weight: 900;
  color: white;
  font-style: italic;
  font-size: 130px;
  width: 800px;
  height: 157px;
  left: -550px;
  top: 50px;
}

.ad-workout-info p {
  position:absolute;
  width: 580px;
  height: 111px;
  left: -540px;
  top: 210px;
  font-size: 22px;
}

.feature-info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  padding-top: 200px;
  padding-bottom: 200px;

}

/* .feature-info h1{
  
} */

.feature-container {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  width: 1120px;
}

.feature-card{
  width: 332px;
  height: 427px;
  
}

.feature-card h2, p{
  margin-top: 16px;
}
.feature-card a{
  color: var(--accent-color);
  text-decoration: none;
}

.cta-exergram {
  position: relative;
  display: flex;
  justify-content: center;
}


.cta-exergram img {
  transform: rotateY(180deg);
}

.cta-exergram-content {
  position: absolute;
}

.cta-exergram-content h1 {
  position:absolute;
  font-weight: 900;
  color: white;
  font-style: italic;
  font-size: 55px;
  text-align: end;
  width: 500px;
  height: 280px;
  left: 30px;
  top: 100px;
}

.cta-exergram-btn {
  position: absolute;
  cursor: pointer;
  padding: 1em 2em;
  border: none;
  border-radius: 30px;
  width: 250px;
  height: 60px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  color:  var(--accent-color);
  background-color: #101115;
  transition: all 1000ms;
  font-size: 16px;
  overflow: hidden;
  outline: 2px solid var(--accent-color);
  left: 250px;
  top: 400px;
}

.cta-exergram-btn:hover {
  color: var(--accent-color);
  transform: scale(1.1);
  outline: 2px solid var(--primary-color);
  /* box-shadow: 4px 5px 17px -4px #C76300; */
}

