/* screen */

.login-page {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  width: 100%;
}

.login-page::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(https://cdn.pixabay.com/photo/2016/07/13/16/00/box-1514845_1280.jpg)
    no-repeat;
  background-size: cover;
  transform: scaleX(-1);
  z-index: -1;
}

/* Left Part*/
.left-login {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 395px;
  width: 50%;
}
.quote-login {
  color: var(--white-text);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Right Part*/

.login-header {
  margin-bottom: 32px;
}

.right-login {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-text);
  text-align: center;
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  right: 50%;
}

.right-login .login-header {
  text-align: center;
}

.right-login .login-header p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}

.right-login-form {
  width: 328px;
}

/* Input */

.right-login-form label {
  display: flex;
  margin-bottom: 0.5rem;
  /* font-size: 0.75rem; */
}

.right-login-form input[type="text"],
.right-login-form input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  /* border-radius default 30px */
  border-radius: 10px;
  border: 0;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  color-scheme: dark;
  color: var(--white-text);
  background-color: var(--grey-btn-color);
}

.right-login-form input[type="text"]:focus,
.right-login-form input[type="password"]:focus {
  outline: 2px solid var(--accent-color);
}

/* Password Hidden Icon */
.login-input-container.password {
  position: relative;
}
.login-input-container.password i {
  position: absolute;
  top: 42px;
  right: 16px;
  color: var(--white-text);
  cursor: pointer;
}

.right-login-form #show-password {
  display: block;
}

/* Button */
.login-btn {
  display: inline-block;
  width: 100%;
  background: var(--accent-color);
  color: var(--white-text);
  font-weight: 700;
  border: none;
  padding: 1rem;
  /* border-radius default 30px */
  border-radius: 30px;
  font-size: 1rem;
  letter-spacing: 1.5px;
  margin-top: 1.5rem;
  transition: background 0.3s ease-in-out;
  text-transform: uppercase;
}

.login-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 3px var(--accent-color);
  background-color: var(--bg-color);
  outline: 1px solid var(--accent-color);
  color: var(--accent-color);
  transition: background 0.3s ease-in-out;
}

/* Remember Checkbox */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */

.forgotPassword {
  color: var(--accent-color);
  display: block;
  margin-top: 1rem;
  font-size: 80%;
  text-align: center;
}
.forgotPassword a {
  color: var(--accent-color);
}

@media screen and (min-width: 900px) {
  .login-page {
    flex-direction: row;
    height: 100vh;
  }
  .left-login,
  .right-login {
    display: flex;
    width: 50%;
    height: auto;
  }
}
