/* screen */
.signup-page {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  width: 100%;
}

.signup-page::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(https://cdn.pixabay.com/photo/2016/07/13/16/00/box-1514845_1280.jpg)
    no-repeat;
  background-size: cover;
  transform: scaleX(-1);
  z-index: -1;
}
/* Left Part*/
.left-signup {
  width: 50%; /* Add this line */
  /* height: 100vh;  */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.left-signup .quote-signup {
  color: var(--white-text);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.left-signup p {
  font-weight: 400;
}

/* Right Part*/
.right-signup {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-text);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.right-signup-form {
  margin-top: 20px;
}
.right-signup .signup-header {
  text-align: center;
}

.right-signup .signup-header p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}

.right-signup form {
  width: 328px;
}
.signup-container a {
  color: var(--accent-color);
}

/* Input */

form label {
  display: flex;
  margin-bottom: 0.5rem;
  /* font-size: 0.75rem; */
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  /* border-radius default 30px */
  border-radius: 10px;
  border: 0;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

.input-container-dob-gender {
  display: flex;
  justify-content: space-between;
}

.input-container-dob,
.input-container-gender {
  display: flex;
  flex-direction: column;
}

form select[id="gender"],
form input[type="date"] {
  display: block;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  /* border-radius default 30px */
  border-radius: 10px;
  border: 0;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

/* Password Hidden Icon */
.input-container-password,
.input-container-cpassword {
  position: relative;
}

.input-container-password i,
.input-container-cpassword i {
  position: absolute;
  top: 42px;
  right: 16px;
  color: var(--grey-btn-color);
  cursor: pointer;
}

#show-password,
#show-password2 {
  display: block;
}

/* Button */
.signup-page-btn {
  display: inline-block;
  width: 100%;
  background: var(--accent-color);
  color: var(--white-text);
  font-weight: 700;
  border: none;
  padding: 1rem;
  /* border-radius default 30px */
  border-radius: 30px;
  font-size: 1rem;
  letter-spacing: 1.5px;
  margin-top: 1rem;
}

.signup-page-btn:hover {
  cursor: pointer;
  scale: 1.03;
}

.policy-terms {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 80%;
  text-align: center;
}

.policy-terms a {
  color: var(--accent-color);
}
