/* screen */
.signup-page {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
}

/* Left Part*/
.left-signup {
  width: 50%; /* Add this line */
  /* height: 100vh;  */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1607274134639-043342705e6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80);
  background-size: cover;
}

.left-signup .quote-signup {
  color: var(--white-text);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.left-signup p {
  font-weight: 400;
}

/* Right Part*/
.right-signup {
  width: 50%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-text);
  background-color: var(--bg-color);
  text-align: center;
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1607274134639-043342705e6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80);
  background-size: cover;
  position: relative; 
  z-index: 1;  */
}

/* .right-signup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1607274134639-043342705e6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80);
  background-size: cover;
  transform: scaleX(-1); 
  z-index: -1; 
} */
.right-signup-form {
  margin-top: 20px;
}
.right-signup .signup-header {
  text-align: center;
}

.right-signup .signup-header p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}

.right-signup form {
  width: 328px;
}

/* Input */

.right-signup-form label {
  display: flex;
  margin-bottom: 0.5rem;
  /* font-size: 0.75rem; */
}

.right-signup-form input[type="text"],
.right-signup-form input[type="email"],
.right-signup-form input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  /* border-radius default 30px */
  border-radius: 10px;
  border: 0;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

.input-container-dob-gender {
  display: flex;
  justify-content: space-between;
}

.input-container-dob,
.input-container-gender {
  display: flex;
  flex-direction: column;
}

.right-signup-form select[id="gender"],
.right-signup-form input[type="date"] {
  display: block;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  /* border-radius default 30px */
  border-radius: 10px;
  border: 0;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

/* Password Hidden Icon */
.input-container-password,
.input-container-cpassword {
  position: relative;
}

.input-container-password i,
.input-container-cpassword i {
  position: absolute;
  top: 42px;
  right: 16px;
  color: var(--grey-btn-color);
  cursor: pointer;
}

#show-password,
#show-password2 {
  display: block;
}

/* Button */
.signup-page-btn {
  display: inline-block;
  width: 100%;
  background: var(--accent-color);
  color: var(--white-text);
  font-weight: 700;
  border: none;
  padding: 1rem;
  /* border-radius default 30px */
  border-radius: 30px;
  font-size: 1rem;
  letter-spacing: 1.5px;
  margin-top: 1rem;
}

.signup-page-btn:hover {
  cursor: pointer;
  scale: 1.03;
}

.policy-terms {
  display: block;
  margin-top: 1rem;
  font-size: 80%;
  text-align: center;
}
