:root {
  /* Color Palette */
  --bg-color: #101115;
  --primary-color: #1a1a1b;
  --secondary-color: #c76300;
  --accent-color: #fa7d00;

  /* Text Color */
  --white-text: #e8e8e8;
  --grey-btn-color: #333333;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* footer */
footer {
  background-color: var(--bg-color);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: var(--bg-color);
  margin: 0 auto;
  max-width: 1140px;
  padding: 32px;
  font-size: 16px;
}

.footer-container-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-container-1 button {
  padding: 8px 16px;
}

.footer-container-1 button:hover {
  cursor: pointer;
  scale: 1.05;
  background-color: var(--accent-color);
}

.footer-container-2 ul,
.footer-container-3 ul,
.footer-container-4 ul,
.footer-container-5 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-container-2 li a,
.footer-container-3 li a,
.footer-container-4 li a,
.footer-container-5 li a {
  text-decoration: none;
  color: var(--white-text);
}

.footer-container-2 li a:hover,
.footer-container-3 li a:hover,
.footer-container-4 li a:hover,
.footer-container-5 li a:hover {
  color: var(--accent-color);
}

.icon i {
  color: var(--accent-color);
}

.icon i:hover {
  color: var(--white-text);
}

.icon {
  display: flex;
  gap: 16px;
}
