@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
  /* Color Palette */
  --bg-color: #101115;
  --primary-color: #1a1a1b;
  --secondary-color: #c76300;
  --accent-color: #fa7d00;

  /* Text Color */
  --white-text: #e8e8e8;
  --grey-btn-color: #333333;
}

/* footer */
footer {
  background-color: var(--primary-color);
  margin: 0 auto;
  padding: 32px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-text {
  margin-top: 22px;
  font-size: smaller;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.footer-icon a {
  text-decoration: none;
  color: var(--white-text);
}

.footer-icon a:hover {
  color: var(--accent-color);
}

.footer-icon i {
  color: var(--accent-color);
  font-size: 22px;
}

.footer-icon i:hover {
  color: var(--white-text);
}
