.activity-page-left-sidebar {
  min-width: 240px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 16px; */
  gap: 16px;
  position: sticky;
  top: 96px;
}
.activity-profile-sidebar-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  outline: 2px solid var(--accent-color);
}

.activity-profile-sidebar-non-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--accent-color);
  outline: 2px solid var(--accent-color);
}

.activity-profile-yourprofile {
  width: 240px;
  height: 260px;
  background-color: var(--primary-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.activity-profile-fullname {
  margin-top: 48px;
}

.activity-profile-all_act {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-flow: column wrap;
  gap: 16px;
}

.activity-profile-all_act p:nth-child(1) {
  font-weight: 600;
}

.activity-profile-all_act p:nth-child(2) {
  font-size: 32px;
  font-weight: 600;
}

.activity-profile-underline {
  width: 90%;
  border-bottom: 1px solid var(--white-text);
  opacity: 0.7;
  margin: 16px auto 16px;
}

.activity-profile-last_activity {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}

.activity-achieve-card {
  width: 240px;
  height: 260px;
  background-color: var(--primary-color);
  /* margin-top: 16px; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.activity-achieve-badge-img {
  width: 70%;
  height: 15vh;
  padding: 16px;
}

.activity-quote {
  width: 240px;
  height: 260px;
  background-color: var(--primary-color);
  /* margin-top: 16px; */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px 20px;
  gap: 24px;
  text-align: center;
}

.activity-quote-author {
  font-style: italic;
}

.badgeText {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  text-shadow: -2px 2px 2px rgba(250, 125, 0, 0.8);
}
