@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap");

.community-event{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .community-event h1{
    align-content: center;
    display: flex;
    font-size: 48px;
  }
  
  .event-cards {
    padding-top: 100px;
    display: flex;;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    gap: 50px;
    width: 1440px;
  }
  
  .card {
    display: flex;
    width: 300px;
    height: 400px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 30px;
    color: #101115;
    justify-content: center;
  }
  
  .card:hover {
    /* background-color: var(--accent-color); */
    transform: scale(1.05);
    /* box-shadow: 4px 5px 17px -4px #c76300; */
  }
  
  
  .card-info {
    display: inline-flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  .card-info img {
    border-radius: 20px;
  }
  
  .card-info .card-footer{
    padding-left: 50%;
  }
  
  .card h4 {
    line-height: 16px;;
  }